/* This sets the style for the web page */

#main {
  background-color: whitesmoke;
}

#title {
  font-family: fantasy;
}

#tribute-info {
  font-size: 16px;
  font-family: monospace;
  padding: 5px;
}

#img-caption {
  font-size: 14px;
  font-family: monospace;
  font-style: oblique;
  text-align: center;
}

#image {
  width: 80%;
  max-width: 300px;
}


/* Larger display */
@media screen and (min-width: 700px) {
  #tribute-info {
      padding-right: 20px;
  }
  #img-div {
    float: left;
  }
  #image {
    margin: 0px 50px 0px 0px;
  }
}

/* Smaller display */
@media screen and (max-width: 699px) {
  #image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
